body {
    background-image: url("pic.webp");
    background-repeat: no-repeat;
    height: 875px;
    background-size: cover;
}


h1, h2 {
    font-style: calc();
    color: rgba(0, 0, 255, 0.759);
}

.AKGoods {
    /* background-image: url("pic.webp");
    background-repeat: no-repeat;
    height: 875px;
    background-size: cover; */
}

.Click-Me {
    height: 55px;
    width: 75px;
    /* transform: translate(655px, 250px); */
}

.Next {
    height: 50px;
    width: 100px;
    /* transform: translate(550px, 320px); */
}